:root {
  --global-theme-color: #7c9070;
  --global-hover-color: #6b7f5f;
}

html[data-theme="dark"] {
  --global-theme-color: #9db894;
  --global-hover-color: #b3cba9;
}

.social .contact-icons {
  font-size: 1.5rem;
}

.social .contact-icons a svg {
  width: 1.4rem;
  height: 1.4rem;
  margin-bottom: 0.2rem;
}

.social .contact-icons a img {
  width: 1.3rem;
  height: 1.3rem;
  margin-bottom: 0.2rem;
}
